<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMaster.master.cs" Inherits="Online_Geocery.View.Admin.AdminMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="../../Asset/Lib/Boostrap/css/bootstrap.min.css"/>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-danger bg-danger text-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" href="#">Home</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="Product.aspx">Products</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="Category.aspx">Categories</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="Sellers.aspx">Sellers</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="Dashboard.aspx">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
   <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="Mybody" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
